@media screen and (max-width: 1280px){
    body{
        overflow-x: hidden;
    }

    .wrap{
        width: 1200px;
    }
}

@media screen and (max-width: 1000px){
    .wrap{
        width: 900px;
    }
}